@use './variables' as *;

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: $font-family-base;
  color: $color-text;
  background-color: $color-bg;
}

@media (max-width: 79rem) {
  html {
    font-size: 87.5%; //14px
  }
}

@media (max-width: 63rem) {
  html {
    font-size: 75%; //12px
  }
}

@media (max-width: 54rem) {
  html {
    font-size: 62.5%; //10px
  }
}

@media (max-width: 36rem) {
  html {
    font-size: 56.25%; //9px
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

a {
  color: $color-primary;
}
